.l-header{
    height: 4.5rem;
    border-top: 5px solid $azul;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;

    @include for-tablet-only{
        border-top: none;
    }
    @include for-desktop-only{
        border-top: none;
        padding-left: 9.5rem;
        padding-right: 9.5rem;
    }

    &__login{
        width: 133px;
    }

    &__pesquisa{
        align-self: flex-start;
        @include for-tablet-only{
            display: none;
        }
        @include for-desktop-only{
            display: none;
        }
    }
}

.pesquisa__mobile{
    height: 48px;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    background-color: $azul;
    margin-top: -48px;
    transition: all .3s ease-in-out;

    @include for-tablet-only{
        display: none;
    }
    @include for-desktop-only{
        display: none;
    }

    &--input{
        padding: .3rem;
        border: none;
        border-radius: 5px;
        outline: 0;
        box-sizing: border-box;
        height: 2rem;
        width: 60vw;
    }

    &--buscar{
        background-color: $branco;
        border: none;
        border-radius: 5px;
        color: $azul;
        font-size: .75rem;
        font-weight: 600;
        box-sizing: border-box;
        height: 2rem;
    }
}

.pesquisa__desktop{
    display: none;
    padding: .5rem;
    background-color: $cinza-fundo;
    border-radius: 25px;
    width: 30%;
    justify-content: space-evenly;
    justify-content: space-between;

    @include for-tablet-only{
        display: flex;
        
    }
    @include for-desktop-only{
        display: flex;
        
    }

    &--input{
        border: none;
        outline: 0;
        background-color: transparent;
        margin-left: .5rem;

        &::placeholder{
            color: #A2A2A2;
            font-size: .875rem;
            font-weight: 400;
        }
    }

    &--button{
        background-color: transparent;
        border: none;
        margin-right: .5rem;
    }
}