@import '../abstracts/mixins';
@import '../abstracts/variaveis';
@import '../state/state';
@import './reset';
@import '../layout/header';
@import '../components/buttons';
@import '../layout/todos-produtos';
@import '../layout/footer';

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}