.is-invisible{
    color: transparent;
    opacity: 0;
    position: absolute;
}

.is-desktop-only{
    display: none !important;
    @include for-desktop-only{
        display: flex !important;
        flex-direction: column !important;
        gap: .5rem !important;
    }
}